<div  class="ekart--product--item">
  <div class="ekart-wishlist-sale-container">
    <div class="ekart--add--to--wishlist">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
    <div class="ekart-on-sale-tag " *ngIf="product.discount" > {{product.discount}} % OFF</div>
  </div>
  <div class="ekart--product--image">
    <img [src]="product.imageUrl" class="ekart--product--image">
  </div>
  <div class="ekart--product--name">{{ product.name}}</div>
  <div class="ekart--product--category">{{ product.price }}</div>
  <div class="ekart--product--available-colors">{{ product.category }}</div>
  <div class="ekart--product--in--stock" [ngStyle]="{fontWeight: 'bold', color:product.inStock?'green':'red'}" >
    {{product.inStock? 'Available' : 'Not available'}}
  </div>
</div>
